.headerpart{
  font-weight: bold;
  font-family: cursive;
  color: white;
}

.bodyC   .jumbtron{
  position: relative;
    top: 51px;
    left: 34px;
}

.desktop{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

input, textarea{
    width:350px;
}

form{
  box-sizing: border-box;

  font-size: 1rem;
  font-style: italic;
  font-weight: bolder;

    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 12px 12px 12px 0;
    display: inline-block;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


input[type=submit]:hover {
  background-color: #45a049;
}





/*
<div class=" row jumbtron" >
  <div class="card" style="width: 18rem;  position: relative;
  top: 10rem;
  right: 10px;
  left:4rem;">
    <img src="{%static 'image/dp.jpg' %}" alt="poorchild" class="img-thumbnail" width="300px" height="80px">
    <div class="card-body">
      <h5 class="card-title">Name : Yuvraj S Singh</h5>
      <p class="card-text"><b>Role :FrontEnd And BackEnd Developer</b></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Qualification: Pursuing BE IN CSE</li>
      <li class="list-group-item">Talk with me on: yuv@gmail.com</li>
      <li class="list-group-item" style="color:red;">Aim To Create Sked :To Bring Smile On The Face Of Children Who Can't FulFill Thier Dream </li>
    </ul>

  </div>



  <div class="card" style="width: 18rem; position: relative;
  top: 10rem;
  right: 10px;
  left: 20rem;">
    <img src="{%static 'image/NIT.jpg' %}" alt="poorchild" class="img-thumbnail" width="300px" height="200px">
    <div class="card-body"><br><br><br><br><br><br>
      <h5 class="card-title">Name : Nitesh M Sharma</h5><br><br><br><br><br><br><br>
      <p class="card-text"><b>Role :Manage Database</b></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Qualification: Pursuing BE IN CSE</li>
      <li class="list-group-item">Talk with me on: nit@gmail.com</li>
      <li class="list-group-item" style="color:red;">Aim To Create Sked :To Bring Smile On The Face Of Children Who Can't FulFill Thier Dream </li>
    </ul>

  </div>


</div>

<a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<div class="w3-xlarge w3-section">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</div>

*/
